.pageContentCSS {
  height: 100vh;
  width: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px;
}

.card_model {
  height: 700px;
  width: 500px;
  background-image: url(./model.jpg);
  background-position: center top;
  background-size: cover;
  margin: auto;
  display: flex;
  position: relative;
  margin-bottom: 100px;
}
.img {
  position: absolute;
  top: 25%;
  left: 23%;
  width: 270px;
  height: 90px;
  opacity: 0.9;
}
